.title{
    top: 0;
    border-bottom: 1px solid;
    border-bottom-color: #850505 ;
    margin-bottom: 1rem;
    z-index: 100;
}

@media (min-width: 1000px) {
    .container{
        width: 500px !important;
    }
}

.container{
    width: auto;
    padding: 0;
}