  <header class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <button type="button" class="btn btn-primary">
                  Home
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                  Add
                </button>
            </li>
            <li class="nav-item">
                 <button type="button" class="btn btn-link">
                  Logout
                </button>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">diSCore App</h3>
</header>

<main role="main">
   
    <app-show-post></app-show-post>
    <app-add-post (postAdded)="handlePostAdded()"></app-add-post>
    
</main>

<footer class="footer">
    <p>&copy; Author: Gustaf Wallström 2020, a project in the course TDDD27 - Advanced Web Programming</p>
</footer>